extends ../layout

block content
  h1 #{profile.local.username}'s Profil
  p #{profile.local.email}
  .card--layout
    each recipe in recipes
      +card('medium')(
        slug=recipe.slug
        image=recipe.image)
        p=recipe.name