extends ../layout

block content
  .hidden
    +ingredient
    +category
  form.form-horizontal(method="POST",enctype="multipart/form-data")
    .col-md-6
      +input('Name')
        input.form-control(
          type='text'
          name='name'
          placeholder='Name'
          required=true)
      +input('Image URL')
        input.form-control(
          type='url'
          name='image_url'
          placeholder='Image'
          required=false)
      +input('Image')
        input.upload(
          type='file'
          name='image')
      +input('Öffentlich?')
        input.form-control(
          type='checkbox'
          name='isPublic'
          placeholder='Öffentlich?')

      .form-group
        label.control-label.col-md-3 Zutaten
        .col-md-9.js--ingredients-container
          +ingredient
          +ingredient
          +ingredient
        .col-md-9.pull-right
          button.btn.btn-success.js--add-ingredient(type="button") Neue Zutat
      .form-group
        label.control-label.col-md-3 Kategorien
        .col-md-9.js--categories-container
          +category
          +category
          +category
        .col-md-9.pull-right
          button.btn.btn-success.js--add-category(type="button") Neue Kategorie
    .col-md-6
      +textarea('Anleitung', 'manual')
    .col-md-12
      input(type="hidden" name="_method" value="put")
      .pull-right
        button.btn.btn-lg.btn-default(type="reset") Abbrechen
        button.btn.btn-lg.btn-success(type="submit") Erstellen