extends ../layout

block content
  .card--layout
    .card--container.first
      +card('large',recipe)
        -if(recipe.categories)
          ul.recipe--categories
            each category in recipe.categories
              li= category.name
      +card('large')(title="Manual")
        p= recipe.manual

    .card--container.second
      -if(user && user.username==recipe.author)
        +card('medium')(title="Actions")
          a(href="#{recipe.slug}/edit").btn.btn-success.btn-sm
            .fa.fa-pencil  Edit
          a(data-path="#{recipe.slug}").js--recipe-delete.btn.btn-danger.btn-sm
            .fa.fa-trash  Delete
      +card('medium')(title="Ingredients")
        -if(recipe.ingredients)
          each ingredient in recipe.ingredients
            p #{ingredient.quantity} #{ingredient.unit} #{ingredient.name}
      +card('medium')(title="Best recipes by the author")
        -if(bestFromAuthor)
          each bf in bestFromAuthor
            +card('medium inline', bf)(subtitle=bf.name)
    .card--container.third
      //- +card('medium')(title="Similar Recipes")
      //-   -if(recipe.ingredients)
      //-     each ingredient in recipe.ingredients
      //-       p #{ingredient.quantity} #{ingredient.unit} #{ingredient.name}
