extends ../layout

block content
  table.table.table-hover.table-responsive
    caption Alle Rezepte
    thead
      tr
        th Name
        //- th Slug
        th Public
        th Author
        th Cat.
        th Ing.
        -if(user)
          th Actions
    tbody
      each recipe in recipes
        tr
          th
            a.link--green(href="/recipes/#{recipe.slug}")
              = recipe.name
          //- th= recipe.slug
          th= recipe.isPublic
          th= recipe.author
          th= recipe.categories.length
          th= recipe.ingredients.length
          -if(user)
            -if(user.local.username == recipe.author)
              th
                a(href="#{recipe.slug}/edit").btn.btn-success.btn-sm
                  .fa.fa-pencil