mixin input(title)
  .form-group
    label.control-label.col-md-3= title
    .col-md-9
      if block
        block
mixin textarea(title,name,value)
  .form-group
    label.control-label= title
    textarea.form-control(
      placeholder=title
      name=name
      value=value)
      if block
        block
mixin ingredient(name, quantity, unit)
  .form-group.js--ingredient-form
    .col-3.pull-left
      input.form-control.input-sm(
        type="number"
        placeholder="Menge"
        name="ingredients[quantity]"
        value=quantity)
    .col-2.pull-left
      select.form-control.input-sm(
        name="ingredients[unit]"
        value=unit)
        option gr
        option TL
        option EL
        option Stk
        option Prise
        option Bund
        option mg
        option kg
        option Dose
    .col-4.pull-left
      input.form-control.input-sm(
        type="text"
        placeholder="Zutat"
        name="ingredients[name]"
        value=name)
    .col-1.pull-left
      button.js--fieldset-delete.close(type="button")
        span(aria-hidden="true") &times;
        span.sr-only Close

mixin category(name)
  .form-group.js--category-form
    .col-9.pull-left
      input.form-control.input-sm(
        type="text"
        placeholder="Kategorie"
        name="categories[name]"
        value=name)
    .col-1.pull-left
      button.js--fieldset-delete.close(type="button")
        span(aria-hidden="true") &times;
        span.sr-only Close

mixin card(size)
  .card--main(class=size)
    -if (attributes.title)
      .card--title= attributes.title
    -if (attributes.subtitle)
      .card--subtitle= attributes.subtitle
    - if(attributes.image)
      .card--image(class=size)
        - if(attributes.slug!='') var link = '/recipes/' + attributes.slug; else var link = '#'
        a(href=link)
          if attributes.image!='' && attributes.image != undefined
            img(style="background-image: url('#{attributes.image}')")
          else
            img(style="background-image: url('/static/default_recipe.jpg')")
        .card--fav-button
          -if(user)
            a.js--recipe--favorite.fa.fa-star-o(data-user = user.local.username, data-recipe = attributes.slug)
          .card--fav-count
            = 20
    .card--content
      if block
        block
