extends ../layout

block content
  .login-container
    .caption
      = 'Cookme'
    .login-field
      h1
        span.fa.fa-sign-in
        = 'Signup'
      hr
      - if(message.length > 0)
        .alert.alert-danger= message
      form(action="/signup" method="post")
        .form-group
          label= 'Username'
          input.form-control(type="text", name="username")
        .form-group
          label= 'Email'
          input.form-control(type="text", name="email")
        .form-group
          label= 'Password'
          input.form-control(type="password", name="password")
        button.btn.btn-secondary(type="submit")= 'Signup'
      hr

      p='Already have an account? '
        a.link--green(href="/login")= 'Login'

      p='Or go '
        a.link--green(href="/")= 'home.'