extends layout

block content
  .search--container
    form(action="/search" method="POST")
      input(type="text", name="search",
        placeholder="Suche nach Rezeptname, Kategorie oder Zutat")

  .card--layout
    .card--container.first
      +card('medium')(title='Best recipes')
        each bestRecipe in bestRecipes
          +card('medium inline', bestRecipe)(subtitle=bestRecipe.name)

    .card--container.second
      +card('medium')(title='Most used ingredients')
        each ingredient in ingredients
          p #{ingredient._id} #{ingredient.count}

      +card('medium')(title='Most used categories')
        each category in categories
          p #{category._id} #{category.count}

